* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(31, 33, 33);
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-image: url(../imagenes/urbano.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.recuadro-titulo-1 {
    border-bottom: solid 15px #008c9e;
    border-right: solid 15px transparent;
    border-left: solid 15px transparent;
    box-shadow: 3px 3px 5px 0px rgba(58, 133, 76, 0.41);
    width: 54vw;
    margin: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;

}

.recuadro-titulo-2 {
    border-top: solid 15px #008c9e;
    border-right: solid 15px transparent;
    border-left: solid 15px transparent;
    box-shadow: -3px -3px 5px 0px rgba(58, 133, 76, 0.41);
    width: 54vw;
    margin: auto;

}



.header {
    height: 2vh;

    font-size: 3.5em;
    font-weight: bold;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 3vh;
}

.container-1 {
    width: 55vw;
    font-size: 1.6rem;
}

.container-2 {
    width: 55vw;
    font-size: 1.6rem;
}

.container-3 {
    width: 53.3vw;
    font-size: 1.6rem;
}

fieldset {
    border-radius: 3px;
    background-color: #005f6b6d;
    box-shadow: 3px 8px 15px 0px rgba(58, 133, 76, 0.289);
    border: 2px solid #008c9e;
    display: flex;
    flex-direction: column;
    align-items: center;

}

fieldset:hover {
    background-color: rgba(54, 95, 81, 0.547);
}

.form-2 {
    display: flex;
}


.section-title {
    background-color: rgba(44, 58, 54, 0.674);
    color: rgb(236, 236, 238);
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    border: none;
    border-radius: 5px;
    width: 30vw;
    height: 3vh;
}

input[type="tel"],
input[type="email"] {
    direction: rtl;
}


textarea {
    height: 80px;
    resize: vertical;
}

.separador {
    border: none;
    border-top: 10px dotted rgb(170, 188, 184);
    color: #fff;
    height: 1px;
    width: 50%;
    margin-top: 3vh;
}

footer {
    grid-area: footer;
    color: white;
    display: flex;
    flex-direction: column;
}


footer .afiliacion {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.condiciones {
    margin: auto;
    margin-top: 2vh;
    padding-right: 40.5vw;
    font-size: 1.6em;
}

.afiliacion button {
    background-color: #008c9e70;
    color: rgb(255, 255, 255);
    width: 10vw;
    height: 6vh;
    font-size: 1.4em;
}

.infoadicional {
    width: 20em;
    height: 10em;
}

button:hover {
    background-color: rgb(54, 95, 81);
}

input:hover {
    background-color: rgb(20, 74, 105);
    color: rgb(245, 245, 245);
}


#bicepsticker {
    width: 1em;
}

#stickers {
    width: 1em;
}